.themecolor {
  color: #eecf6b !important 
}
.themecolor-contrast {
  color: #eecf6b !important 
}
.black {
  color: black !important;
}
.white {
	color: white !important;
}
.messenger-color {
  color: #1877f2 !important
}
.facebook-color {
  color: #3b5998 !important
}
.instagram-color {
  color: #c32aa3 !important
}
.youtube-color {
  color: #ff0000 !important
}
.search-color {
  color: black !important
}
